.cv-container {
  display: flex;
  justify-content: center;
  background-color: #747bff;
  padding: 1rem 0;
  overflow-y: auto;
}

#cv-previewer {
  padding: 3rem;
  width: 200mm;
  height: 287mm;
  color: black;
  background-color: #f9f9f9;
}

.cv-general > h1 {
  font-size: 3rem;
}
