.cv-container {
  display: flex;
  justify-content: center;
  background-color: #747bff;
  padding: 1rem 0;
  overflow-y: auto;
}

#cv-previewer {
  padding: 3rem;
  width: 200mm;
  height: 287mm;
  color: black;
  background-color: #f9f9f9;
}

.cv-general > h1 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 1rem;
}

.cv-general > div {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.seperator {
  height: 2px;
  width: 100%;
  background-color: black;
}

.edu-section {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: repeat(2, auto);

  width: 100%;
  height: 3rem; /*temp, this will be removed*/
  margin-bottom: 1rem;
}

.cv-school {
  grid-column: 1;
  grid-row: 1;
}

.cv-date {
  grid-column: 3;
  grid-row: 1;
}

.cv-degree {
  grid-column: 1;
  grid-row: 2;
}

.cv-location {
  grid-column: 3;
  grid-row: 2;
  text-align: end;
}

.exp-section {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: repeat(3, auto);

  width: 100%;
  margin-bottom: 1rem;
}

.cv-employer {
  grid-column: 1;
  grid-row: 2;
}

.cv-bulletpoints {
  grid-row: 3;
  grid-column: 1 / 4;
}
